
.footer {
    /* display: inline-block; */
    right: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 5rem;
    background: #047555;
    color: #eef;
    opacity: .2;
    transition: all .5s;
}

.footer:hover {
    opacity: 1;
}