
/* colors */
@keyframes slidefadeR {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: .3;
    transform: translateX(2rem); }
  90% {
    opacity: .5;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slidefadeL {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: .3;
    transform: translateX(-2rem); }
  90% {
    opacity: .5;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes BtnUp {
  0% {
    opacity: 0;
    transform: translatey(8rem); }
  80% {
    opacity: .3;
    transform: translatey(-2rem); }
  90% {
    opacity: .6;
    transform: translatey(1rem); }
  100% {
    opacity: 1;
    transform: translatey(0); } }

@keyframes pulse {
  0% { }
  90% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-9rem); }
  70% {
    opacity: .8;
    transform: translateY(2rem); }
  90% {
    opacity: .8;
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  /* font-size: 1rem == 10px; */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

header,
section {
  padding: 6rem 8rem;
  height: 100vh;
  font-size: 2rem;
  /* background: blue; */ }

a {
  text-decoration: none; }

li {
  list-style: none; }

@media (max-width: 850px) {
  section {
    padding: 2rem; } }

@media (max-width: 550px) {
  body {
    line-height: 1; }
  section {
    height: 100%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  text-align: center; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  font-size: 2rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  letter-spacing: .3rem;
  font-weight: 700; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 2rem rgba(46, 46, 46, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(46, 46, 46, 0.2); }

.btn--white {
  border: 0.3rem solid #f1f1f1;
  padding: 3.5rem 3rem;
  color: #f1f1f1;
  background-color: rgba(241, 241, 241, 0.4); }
  .btn--white::after {
    opacity: .4;
    background-color: #f1f1f1; }
  .btn--white:hover {
    border-color: #06d59c;
    background-color: #06d59c; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: BtnUp .5s ease .9s;
  animation-fill-mode: backwards; }

.btn-action:link, .btn-action:visited {
  background-color: #06d59c;
  border: 0.3rem solid #f1f1f1;
  color: #f1f1f1;
  font-size: 2rem !important;
  border-radius: 1rem !important;
  animation: none !important; }

.btn-action:hover {
  border-color: #06d59c;
  background-color: #06d59c; }

.btn-action:active {
  border-color: #06d59c;
  background-color: #06d59c; }

@media (max-width: 850px) {
  .btn, .btn:link, .btn:visited {
    padding: 1.5rem 4rem;
    font-size: 1.8rem; } }

@media (max-width: 665px) {
  .btn, .btn:link, .btn:visited {
    padding: 1.5rem 4rem;
    font-size: 1.4rem; } }

@media (max-width: 590px) {
  .btn, .btn:link, .btn:visited {
    padding: 1.5rem 3rem;
    font-size: 1.5rem; } }

.navigation {
  display: none;
  height: 0; }
  .navigation_button {
    background: white;
    color: #777;
    height: 5.3rem;
    width: 5.3rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 200;
    box-shadow: 0.1rem 0.5rem 1rem rgba(46, 46, 46, 0.2);
    animation: pulse 12s ease infinite;
    text-align: center;
    opacity: .7;
    transform: scale(1);
    cursor: pointer; }
    .navigation_button:hover {
      transform: scale(1.1);
      opacity: 1; }
  .navigation_background {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    top: 1.2rem;
    right: 1.2rem;
    background-image: radial-gradient(#06d59c, #289fb4 80%);
    z-index: 100;
    position: fixed;
    opacity: 0;
    transition: all 0.7s cubic-bezier(0.65, 0.74, 0.18, 1.06); }
  .navigation_nav {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    width: 100vw;
    opacity: 0;
    z-index: 50;
    transform: translate(30rem, -50rem);
    transition: all 0.5s cubic-bezier(0.67, -0.5, 0.06, 1.4); }
  .navigation_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .navigation_item {
    margin: 1rem 0; }
  .navigation_link:link, .navigation_link:visited {
    display: inline-block;
    color: #f1f1f1;
    font-weight: 300;
    font-size: 2.5rem;
    padding: 1rem 2rem 1rem 3rem;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent, transparent 50%, #f1f1f1 50%);
    background-size: 230%;
    transition: all .4s;
    border-radius: 4px;
    border-top-left-radius: 3rem; }
  .navigation_link:hover, .navigation_link:active {
    background-position: 100%;
    color: #06d59c;
    font-weight: 500;
    transform: translateX(1rem); }
  .navigation_checkbox:checked ~ .navigation_background {
    opacity: 1;
    transform: scale(40); }
  .navigation_checkbox:checked ~ .navigation_nav {
    opacity: 1;
    transform: translate(0, 0);
    z-index: 150; }
  .navigation_icon {
    position: relative;
    margin-top: 2.5rem; }
    .navigation_icon, .navigation_icon::before, .navigation_icon::after {
      width: 2.5rem;
      height: 2px;
      border-radius: 1rem;
      background-color: #2e2e2e;
      display: inline-block; }
    .navigation_icon::before, .navigation_icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation_icon::before {
      top: -.7rem; }
    .navigation_icon::after {
      top: .7rem; }
  .navigation_button:hover .navigation_icon::before {
    top: -.9rem; }
  .navigation_button:hover .navigation_icon::after {
    top: .9rem; }
  .navigation_checkbox:checked + .navigation_button .navigation_icon {
    background-color: transparent; }
  .navigation_checkbox:checked + .navigation_button .navigation_icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation_checkbox:checked + .navigation_button .navigation_icon::after {
    top: 0;
    transform: rotate(-135deg); }

@media (max-width: 590px) {
  .navigation {
    display: block; } }

#Experience {
  background: #e7e7e7;
  color: black; }
  #Experience .resume_cards [class*="card-"] {
    width: 40rem;
    transition: 0.3s;
    cursor: pointer;
    color: #2e2e2e;
    border-radius: 1.2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 0.3rem solid rgba(6, 213, 156, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    #Experience .resume_cards [class*="card-"] h2 {
      font-weight: 300;
      padding: 1rem;
      height: 30%;
      color: #f1f1f1;
      font-size: 2.5rem;
      margin-bottom: 1rem; }
      #Experience .resume_cards [class*="card-"] h2 span {
        display: block; }
        #Experience .resume_cards [class*="card-"] h2 span:last-child {
          color: #06d59c;
          font-size: 2.1rem;
          font-weight: 400; }
    #Experience .resume_cards [class*="card-"] ul {
      background: rgba(255, 255, 255, 0.9);
      height: 70%;
      padding: 1rem; }
      #Experience .resume_cards [class*="card-"] ul li span {
        color: #037253;
        font-weight: 700; }
      #Experience .resume_cards [class*="card-"] ul h6 {
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: right;
        color: #05a378; }
  #Experience .resume_cards [class*="card-"]:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  #Experience .resume_cards .card-1 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/card-1.jpg);
    background-position: center left; }
  #Experience .resume_cards .card-2 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/card-2.jpg);
    background-position: top; }
  #Experience .resume_cards .card-3 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/card-3.jpg);
    background-position: top left; }
  #Experience .resume_cards .card-4 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/card-4.jpg);
    background-position: center; }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class*="col-"] {
    float: left; }
    .row [class*="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem); }

.row {
  margin: 1rem 0; }
  .row [class*="col-"] {
    border: 1px solid red;
    border-radius: .5rem;
    padding: 2rem 0; }

/*<div class="row">
<div class="col-1-of-4">&nbsp;</div>
<div class="col-1-of-4">&nbsp;</div>
<div class="col-1-of-4">&nbsp;</div>
<div class="col-1-of-4">&nbsp;</div>
</div>
<div class="row">
<div class="col-1-of-3">&nbsp;</div>
<div class="col-1-of-3">&nbsp;</div>
<div class="col-1-of-3">&nbsp;</div>
</div>
<div class="row">
<div class="col-1-of-2">&nbsp;</div>
<div class="col-1-of-2">&nbsp;</div>
</div>
<div class="row">
<div class="col-1-of-4">&nbsp;</div>
<div class="col-2-of-4">&nbsp;</div>
<div class="col-1-of-4">&nbsp;</div>
</div>
<div class="row">
<div class="col-1-of-3">&nbsp;</div>
<div class="col-2-of-3">&nbsp;</div>
</div>
<div class="row">
<div class="col-3-of-4">&nbsp;</div>
<div class="col-1-of-4">&nbsp;</div>
</div>*/
.header {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../img/heroDesk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header_menu {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 4rem;
    font-size: 2.5rem; }
    .header_menu-logo {
      opacity: .8;
      width: 6rem;
      height: 6rem;
      padding-top: 1.2rem;
      border-radius: 50%;
      animation: pulse 12s ease infinite;
      border: 0.4rem solid white; }
    .header_menu-logo img {
      height: 95%; }
    .header_menu-list {
      display: flex; }
      .header_menu-list li {
        list-style: none; }
        .header_menu-list li a {
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
          height: 100%;
          padding-bottom: 1rem;
          opacity: .8;
          transition: all .1s; }
          .header_menu-list li a:hover {
            border-bottom: 0.3rem solid #06d59c;
            color: #06d59c;
            font-weight: 700;
            opacity: 1; }
        .header_menu-list li:not(:last-child) {
          margin-right: 1.5rem; }
        .header_menu-list li:hover {
          transform: scale(1.1); }
  .header_title {
    height: 20rem;
    /* background-color: #06d59c; */
    text-align: center;
    font-size: 2.5rem; }
    .header_title h1 {
      color: white;
      letter-spacing: .8rem;
      text-transform: uppercase; }
      .header_title h1 span {
        opacity: 0;
        display: block;
        /* background:red; */
        font-size: 6rem;
        animation: 1s slidefadeR .5s forwards; }
        .header_title h1 span:last-child {
          opacity: 0;
          margin-top: -2rem;
          font-size: 4rem;
          /* background:blue; */
          letter-spacing: .5rem;
          text-transform: capitalize;
          margin-bottom: 3rem;
          animation: 1s slidefadeL .5s forwards; }
  .header_mobile-title {
    display: none; }
    .header_mobile-title-logo {
      opacity: 0;
      width: 22rem;
      height: 22rem;
      margin: 0 auto;
      padding-top: 4.9rem;
      border-radius: 50%;
      border: 1rem solid white;
      animation: 1s slidefadeR .5s forwards; }
    .header_mobile-title-logo img {
      height: 95%; }
    .header_mobile-title h1 {
      opacity: 0;
      color: #f1f1f1;
      text-transform: uppercase;
      font-weight: 700;
      margin: 1rem 0;
      animation: 1s slidefadeL .5s forwards; }

/* //---Media  */
@media (max-width: 850px) {
  .header_menu {
    padding: 3rem;
    font-size: 2rem; }
    .header_menu-logo {
      width: 5rem;
      height: 5rem;
      border: 0.4rem solid white;
      padding: .5rem;
      padding-top: .9rem; }
  .header_title {
    font-size: 1.8rem;
    padding-top: 4rem; }
    .header_title h1 {
      letter-spacing: .5rem; }
      .header_title h1 span {
        font-size: 4.5rem; }
        .header_title h1 span:last-child {
          margin-top: -2rem;
          font-size: 2.6rem;
          letter-spacing: .2em;
          margin-bottom: 2rem; } }

@media (max-width: 665px) {
  .header_menu {
    padding: 2.5rem;
    font-size: 2rem; }
    .header_menu-logo {
      width: 4.5rem;
      height: 4.5rem;
      border: 0.3rem solid white;
      padding: .5rem;
      padding-top: .9rem; }
  .header_title {
    font-size: 1.5rem;
    padding-top: 4rem; }
    .header_title h1 {
      letter-spacing: .5rem; }
      .header_title h1 span {
        font-size: 3.7rem; }
        .header_title h1 span:last-child {
          margin-top: -1rem;
          font-size: 2.2rem;
          letter-spacing: .2em;
          margin-bottom: 1rem; } }

@media (max-width: 590px) {
  .header_menu {
    display: none; }
  .header_title {
    display: none; }
  .header_mobile-title {
    display: block; } }

@media (max-width: 340px) {
  .header_mobile-title {
    display: block; } }
