/* colors */
$color1: #06d59c;
$color2: #289fb4;
$color3:  rgb(46, 165, 143);
$color4: #f8365c;
$light:rgb(241, 241, 241);
$dark:rgb(46, 46, 46);
$gray:#777;

//Grid 
$grid-width:100%;
$gap-V:2rem;
$gap-H:3rem;

//Media Break Points
$BP1:850px;
$BP2:660px;
$BP3:590px;

$BP1x: 1200px;

$BP4:340px;