.formStyle {
    width: 100%;
    height: 100%;
    // margin: 1rem auto;
    // padding: 4rem;
    border-radius: .5rem;
    background:transparent;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    & fieldset {
        border: none;
        & legend {
            color: #FFF;
            height: 5rem;
            font-size: 3.3rem;
            margin-bottom: 3rem;
            display: inline-block; 
            // background-color: #109177;
            text-transform: uppercase;
            // line-height: 4rem;
        }
        & label {
            // display: block;
            // margin-bottom: 8px;
        }
        & input[type="text"],
        & input[type="date"],
        & input[type="datetime"],
        & input[type="email"],
        & input[type="number"],
        & input[type="search"],
        & input[type="time"],
        & input[type="url"],
        & textarea,
        & select {
            // font-family: Georgia, "Times New Roman", Times, serif;
            background: rgba(255, 255, 255, .1);
            border: none;
            border-radius: 4px;
            font-size: 16px;
            margin: 0;
            outline: 0;
            padding: .7rem;
            height: 5rem;
            
            // width: 100%;
            background-color: #e8eeef;
            color: #71777b;
            -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
            margin-bottom: 2rem;
            
            &:focus {
                background: #d2d9dd;
            }
            
            &:hover {
                border: 1px solid rgba($color1,.5);
                // display:inline-block;
            }
        }
        & textarea {
            height: 100% !important;
            width:100%;
        }
        & select {
            -webkit-appearance: menulist-button;
            height: 5rem;
            width: 100%;
        }
        & .number {
            background: $color1;
            color: #fff;
            height: 3rem;
            width: 3rem;
            display: inline-block;
            font-size: 2rem;
            margin-right: 1rem;
            line-height: 3rem;
            text-align: center;
            border-radius: 0 1.5rem 1.5rem 0px;
        }
    }
    & input[type="submit"],
    & input[type="button"], 
    .download-btn {
        height: 6rem;
        position: relative;
        display: block;
        // padding: ;
        color: #FFF;
        margin: 0 auto;
        background: $color1;
        font-size: 2rem;
        text-align: center;
        // font-style: normal;
        // width: 100%;
        border: none;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        margin-bottom: 1rem;
        &:hover {
            background: #109177;
        }
    }
}