.footer {
    background-image: linear-gradient( to right bottom, rgba(#000, 0.4), rgba(#000, 0.3)), url(../img/herologo.jpg);
    background-attachment: fixed;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    & p {
        color: #fff;
        font-size: 2rem;
    }
}

@media (min-width: 740px) {
    .footer {
        background-attachment: fixed;
    }
}