.row {
    max-width: $grid-width;
    margin: 0 auto;
    &:not(:last-child) {
        margin-bottom: $gap-V;
    }
    @include clearfix; //atribute selector ^:starts  $:ends *:contains 
   
     //[alt = "logo"] (^ starts, *contains, $ end with)
    [class*="col-"] {
        float: left;
        &:not(:last-child) {
            margin-right: $gap-H;
        }
    }
    .col-1-of-2 {
        width: calc((100% - #{$gap-H}) / 2);
    }
    .col-1-of-3 {
        width: calc((100% - 2 * #{$gap-H}) / 3);
    }
    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gap-H}) / 3) + #{$gap-H});
    }
    .col-1-of-4 {
        width: calc((100% - 3 * #{$gap-H}) / 4);
    }
    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$gap-H}) / 4) + #{$gap-H});
    }
    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$gap-H}) / 4) + 2 * #{$gap-H});
    }
}

@media (min-width: $BP1x) {
    $gap-H:6rem !important;
}