#Portfolio {
    height: 100%;
    h1 {
        margin: 2rem 0;
    }
    div [class^="col-"] {
        height: 30rem;
    }
    & .slider {
        position: relative;
        background: #000;
        background-image: linear-gradient( to bottom, rgba(#000, .1), rgba(#000, .7) 80%), url(../img/herologo.jpg); // background-attachment: fixed;
        background-position: top right ;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 2rem 2rem rgba(#000, .7);
        border-radius: .5rem;
        height: 45rem;
        width: 100%;
        color: #fff;
        margin-bottom: 4rem;
        &-nav {
            left: 50%;
            bottom: 2rem;
            transform: translate(-50%);
            position: absolute;
            z-index: 50;
            display: flex;
            width: 80%;
            justify-content: space-between;
            & [class*='-dir-'] {
                color: rgba($light, .45);
                cursor: pointer;
                text-shadow: 0 .5rem .5rem rgba($dark, .4);
                &:hover {
                    text-shadow: 0 .5rem .5rem rgba($dark, .7);
                    color: rgba($light, .7);
                }
            }
            &-pager {
                width: 60%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 0 1rem;
                &-divs {
                    cursor: pointer;
                    display: inline-block;
                    color: #fff;
                    background-image: linear-gradient(to right bottom, transparent, rgba($light, .3));
                    box-shadow: 0 .5rem 1rem rgba($dark, .4);
                    padding: 1rem;
                    border-radius: 100%;
                    transition: all .2s;
                    &:hover {
                        background-image: linear-gradient(to right bottom, transparent, rgba($light, .4));
                    }
                }
                .current {
                    background-image: linear-gradient(to right bottom, transparent, rgba($light, .8));
                    padding: 1.2rem; //  border: 1px solid red;
                }
            }
        }
        & .mySlides {
            // display: flex;
            // flex-direction: row;
            // animation 
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain; // display: none;
            // visibility: hidden;
            transition: all .5s;
            opacity: 5;
            border-radius: .5rem;
            width: 100%;
            height: 100%;
            cursor: pointer;
            &:hover {
                // display: block;
                opacity: 1;
                visibility: visible;
            }
            &-1 {
                background-image: linear-gradient( to bottom, rgba(#000, .1), rgba(#000, .4)), url(../img/duopong.png);
            }
            &-2 {
                background-image: linear-gradient( to bottom, rgba(#000, .1), rgba(#000, .4)), url(../img/todoapp.jpg);
            }
            &-3 {
                background-image: linear-gradient( to bottom, rgba(#000, .1)40%, rgba(#000, .4)), url(../img/PigOut.jpg);
            }
            &-4 {
                background-image: linear-gradient( to bottom, rgba(#000, .1), rgba(#000, .4)), url(../img/statscalc.jpg);
            }
            &-5 {
                background-image: linear-gradient( to bottom, rgba(#000, .1), rgba(#000, .4)), url(../img/MagicBall.jpg);
            }
            &-6 {
                background-image: linear-gradient( to bottom, rgba(#000, .1), rgba(#000, .4)), url(../img/livre.jpg);
            }
            &-7 {
                background-image: linear-gradient( to bottom, rgba(#000, .1), rgba(#000, .4)), url(../img/androidCalc.png);
            }
            &-8 {
                background-image: linear-gradient( to bottom, rgba(#000, .1) 40%, rgba(#000, .4)), url(../img/Xilophone.jpg);
            }
        }
    }
}

@media (min-width: 740px) {
    #Portfolio {
        & .slider {
            background-attachment: fixed;
        }
    }
}

@media (max-width: $BP2) {
    .row [class*="col-"]:not(:last-child) {
        margin-right: 1rem;
    }
    .row:not(:last-child) {
        margin-bottom: 1rem;
    }
}