.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        display: inline-block;
        font-size: 2rem;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        letter-spacing: .3rem;
        font-weight: 700;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 .5rem 2rem rgba($dark, .2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0; // transform: translateY(2px);
        }
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($dark, .2);
    }
    &--white {
        border: .3rem solid $light;
        padding: 3.5rem 3rem;
        color: $light;
        background-color: rgba($light, .4);
        &::after {
            opacity: .4;
            background-color: $light;
        }
        &:hover {
            // color:$color1;\
            border-color: $color1;
            background-color: $color1;
        }
    }
  
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        animation: BtnUp .5s ease .9s;
        animation-fill-mode: backwards;
    }
}

.btn-action {
    &:link,
    &:visited {
        background-color: $color1;
        border: .3rem solid $light; // padding: 3rem 1rem;
        color: $light;
        font-size: 2rem !important;
        border-radius: 1rem !important;
        animation: none !important;
    }

    &:hover {
        // color:$color1;\
        border-color: $color1;
        background-color: $color1;
    }
    &:active {
        // color:$color1;\
        border-color: $color1;
        background-color: $color1;
    }
}

.btn-action {
    margin-top: 3rem;
    padding: 1rem 3rem;

    
}

@media (max-width: $BP1) {
    .btn {
        &,
        &:link,
        &:visited {
            padding: 1.5rem 4rem;
            font-size: 1.8rem;
        }
    }
}

@media (max-width: $BP2) { 
    .btn {
        &,
        &:link,
        &:visited {
            padding: 1.5rem 4rem;
            font-size: 1.4rem;
        }
    }
}

@media (max-width: $BP3) {
    .btn {
        &,
        &:link,
        &:visited {
            padding: 1.5rem 3rem;
            font-size: 1.5rem;
        }
    }
}