.lightbox {
    position: relative;
    &_photo {
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba($dark, .4);
        transition: all .2s;
        width: 50% !important;
        opacity: .8;
        z-index: 2S;
        &-1 {
            top: 10%;
            left: 50%;
            z-index: 7;
            // border: 5px solid green;
        }
        &-2 {
            top: 70%;
            left: 30%;
            // z-index: 4;
            // border: 5px solid yellow;
        }
        &-3 {
            top: 50%;
            left: 10%;
            // z-index: 3;
            // border: 5px solid blue;
        }
        &-4 {
            top: 80%;
            left: 70%;
            // z-index: 1;
            // border: 5px solid red;
        }
        
        &:hover {
            z-index: 10;
            opacity:1;
            box-shadow: 0 2.5rem 4rem rgba($dark, .5);
            transform: scale(1.1) translateY(-.5rem);
            // transform: scale(1);
            // position: absolute;
        }
    }
}