.lightbox_container {
    position: relative;
    height: 70vh !important;
    .lightbox {
        margin-top: 20%;
        width: 100% !important; // height: 100% !important;
        // top: 30%;
        position: relative; // max-width: 700px;
        &_photo {
            box-shadow: 0 1.5rem 4rem rgba($dark, .4);
            width: 75% !important;
            position: absolute;
            transition: all .2s; // opacity: .8;
            z-index: 2S;
            &-1 {
                left: 3rem;
                top: -2rem;
                z-index: 7;
                // border: 5px solid green;
            }
            &-2 {
                left: 0;
                top: 10rem;
                z-index: 2;
                // border: 5px solid yellow;
            }
            &-3 {
                left: 20%;
                top: 20rem; // z-index: 3;
                // border: 5px solid blue;
            }
            &-4 {
                right: 0;
                top: 5rem;
                z-index: 3;
                // border: 5px solid red;
            }
            &:hover {
                z-index: 10;
                opacity: 1;
                box-shadow: 0 2.5rem 4rem rgba($dark, .5);
                transform: scale(1.05) translateY(-.5rem); // transform: scale(1);
                // position: absolute;
            }
        }
    }
}

@media (max-width: $BP2) {
    .lightbox_container {
        position: relative;
        with: 100 !important;
        .lightbox {
            margin-top: 20%;
            width: 100% !important; // height: 100% !important;
            // top: 30%;
            position: relative; // max-width: 700px;
            &_photo {
                box-shadow: 0 1.5rem 4rem rgba($dark, .4);
                width: 75% !important;
                position: absolute;
                transition: all .2s; 
                z-index: 2S;
                &-1 {
                    top: -3rem;
                }
                &-2 {
                    top: 8rem;
                }
                &-3 {
                    top: 16rem;
                }
                &-4 {
                    top: 4rem;
                }
                &:hover {
                    z-index: 10;
                    opacity: 1;
                    box-shadow: 0 2.5rem 4rem rgba($dark, .5);
                    transform: scale(1.05) translateY(-.5rem); // transform: scale(1);
                    // position: absolute;
                }
            }
        }
    }
}