.navigation {
    display: none;
    height: 0;
    &_checkbox {}
    &_button {
        background: rgb(255, 255, 255);
        color: $gray;
        height: 5.3rem;
        width: 5.3rem;
        position: fixed;
        top: 1rem;
        right: 1rem;
        border-radius: 50%;
        z-index: 200;
        box-shadow: .1rem .5rem 1rem rgba($dark, .2);
        animation: pulse 12s ease infinite;
        text-align: center;
        opacity: .7;
        transform: scale(1);
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }
    &_background {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        top: 1.2rem;
        right: 1.2rem;
        background-image: radial-gradient($color1, $color2 80%);
        z-index: 100;
        position: fixed;
        opacity: 0;
        transition: all .7s cubic-bezier(.65, .74, .18, 1.06);
    }
    &_nav {
        position: fixed;
        height: 100vh;
        top: 0;
        right: 0;
        width: 100vw; // background: blue;
        // width: 100vw;
        // transform: scale(.1);
        opacity: 0;
        z-index: 50;
        transform: translate(10rem, -30rem);
        transition: all .5s cubic-bezier(.67, -0.5, .06, 1.4);
    }
    &_list {
        //oldShool center
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &_item {
        margin: 1rem 0;
    }
    &_link {
        &:link,
        &:visited {
            display: inline-block; // background: red;
            color: $light;
            font-weight: 300;
            font-size: 2.5rem;
            padding: 1rem 2rem 1rem 3rem;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent, transparent 50%, $light 50%);
            background-size: 230%;
            transition: all .4s;
            border-radius: 4px;
            border-top-left-radius: 3rem;
        }
        &:hover,
        &:active {
            background-position: 100%;
            color: $color1;
            font-weight: 500;
            transform: translateX(1rem);
        }
    } //functionality
    &_checkbox:checked~&_background {
        opacity: 1;
        transform: scale(40);
    }
    &_checkbox:checked~&_nav {
        opacity: 1; // width: 100vw; 
        transform: translate(0, 0);
        z-index: 150;
    } // Icon
    &_icon {
        position: relative;
        margin-top: 2.5rem;
        &,
        &::before,
        &::after {
            width: 2.5rem;
            height: 2px;
            border-radius: 1rem;
            background-color: $dark;
            display: inline-block;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before {
            top: -.7rem;
        }
        &::after {
            top: .7rem;
        }
    }
    &_button:hover &_icon::before {
        top: -.9rem;
    }
    &_button:hover &_icon::after {
        top: .9rem;
    } 
    &_checkbox:checked+&_button &_icon {
        background-color: transparent;
    }
    &_checkbox:checked+&_button &_icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &_checkbox:checked+&_button &_icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}

@media (max-width: $BP3) {
    .navigation {
        display: block;
    }
}