.progressBox {
    background: #efefef;
    padding: 2rem; // margin: 15vh auto;
    border-radius: 10px;
    border: solid 5px #dbdbdb;
    &:hover {
        box-shadow: 0 2.5rem 4rem rgba($dark, .5);
    }
    .progressBar {
        margin-bottom: 1.5rem;
        & h4 {
            font-size: 1.8rem;
            text-transform: none;
            text-align: left;
            padding-left: 1rem;
            font-weight: bold;
            color: darken($gray, 5%); // margin-bottom: .5rem;
        }
        &_container {
            // opacity: 0;
            height: 3rem; // overflow: hidden;
            border-radius: 5px;
            border: 1px solid rgba($color2, .2);
            transition: all .5s;
            animation: 2s fillbar .5s forwards;
            &-value {
                border-top-left-radius: .3rem;
                height: 100%;
                float: left;
                background: $color1;
                background-image: linear-gradient(160deg, $color3, $color1 60%);
                transition: all .3s;
                &:hover {
                    width: 100%;
                    background: $color1;
                }
            }
        }
    }
}

.value-10 {
    width: 10%;
}

.value-20 {
    width: 20%;
}

.value-30 {
    width: 30%;
}

.value-40 {
    width: 40%;
}

.value-50 {
    width: 50%;
}

.value-60 {
    width: 60%;
}

.value-70 {
    width: 70%;
}

.value-80 {
    width: 80%;
}

.value-90 {
    width: 90%;
}

.value-100 {
    width: 100%;
}


@media (max-width: $BP2) {
    

}