@keyframes slidefadeR {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        opacity: .3;
        transform: translateX(2rem);
    }
    90% {
        opacity: .5;
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slidefadeL {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        opacity: .3;
        transform: translateX(-2rem);
    }
    90% {
        opacity: .5;
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes BtnUp {
    0% {
        opacity: 0;
        transform: translatey(8rem);
    }
    80% {
        opacity: .3;
        transform: translatey(-2rem);
    }
    90% {
        opacity: .6;
        transform: translatey(1rem);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes pulse {
    0% {
        // background-color: #001F3F;
    }
    
    90% {
        transform: rotate(0); 
    }
    100% {
       transform: rotate(360deg);
    }
}

@keyframes dropdown {
    0% {
        opacity: 0;
        transform: translateY(-9rem);
    }
    70% {
        opacity: .8;
        transform: translateY(2rem);
    }
    90% {
        opacity: .8;
        transform: translateY(-.5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fillbar {
    0% {
        opacity:.5;
        width: 0%;
    }
    80% {
        border:none;
        width: 100%;
        border: 1px solid transparent;
        transform: scaleY(1.2);
    }
    100% {
        opacity: 1;
    }
}