*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    /* font-size: 1rem == 10px; */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

header {
    height: 100vh;
}

section {
    padding: 6rem 26rem;
    font-size: 2rem;
    height: 100% !important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@media (max-width: $BP1x) {
    section,
    header {
        padding: 6rem 8rem;
    }
}

@media (max-width: $BP1) {
    section,
    header {
        padding: 2rem;
    }
}

@media (max-width: $BP2) {
    body {
        line-height: 1;
    }
}

@media (max-width: $BP3) {
    body {
        line-height: 1;
    }
}

@media (max-height: $BP2) {}