body {
    font-family: "Lato", sans-serif; 
    font-weight: 400;
    line-height: 1.7;
    color:$gray;
    text-align: center;
}

.secondary-head {
    font-size: 3rem;
    font-weight: 700;
    color: transparent; 
    display: inline-block;
    text-transform: uppercase;
    background-image: linear-gradient(to left, $color1, $color3);
    -webkit-background-clip: text;
    
    &:hover {
        background-image: linear-gradient(to left,
        lighten($color1,5%),
        lighten($color3,5%));
        transform: skewX(-10deg) scale(1.1);
        text-shadow: .1rem .3rem 1rem rgba($dark,.15);
    }
}